{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
            <li><a href="https://www.facebook.com/wesooo0/" target="_blank"><img src="{% static 'images/fb.svg' %}" alt="Facebook"></a></li>
            <li><a href="https://www.instagram.com/aous_abdulhamed/" target="_blank"><img src="{% static 'images/insta.svg' %}" alt="Instagram"></a></li>
            <li><a href="javascript:void(0)" target="_blank"><img src="{% static 'images/twitter.svg' %}" alt="Twitter"></a></li>
            <li><a href="https://www.linkedin.com/in/aous-abdulhamid" target="_blank"><img src="{% static 'images/linkedin.svg' %}" alt="LinkedIn"></a></li>
        </ul>
        
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by Aous Abdulhamid</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->